.slides {
  transform: perspective(1000px) translate3d(0px, 0px, -350px) scale(0.9, 0.9);
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out transform;
  transform: rotate3d(0, 0, 250, 0deg) rotate(0deg);
  height: 700px;
}
.goal-text {
  width: 100%;
  font-size: 26px;
  text-align: center;
}
@media screen and (max-width: 990px) {
  img {
    padding: 10px;
  }
  .slides {
    height: 400px;
  }
  .goal-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    margin-top: 30px;
  }
  img {
    padding: 5px;
    height: 300px;
  }
}
